html, body {
    height: 100%;
    margin: 0;
}
body {
    font: 14px sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #afafaf, #acdcda); /* Cool Linear Gradient Background */
    color: #fff; /* Set text color to white for better visibility */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #111111;
}

h1 {
    margin-top: 50px;
}